:root{
--bg-color:#008080;
}

body{
margin:0;
background:var(--bg-color);
font-family:Courier New;
overflow:hidden;
}

/* BOOT */
#bootScreen{
position:fixed;
width:100%;
height:100%;
background:black;
color:lime;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
z-index:9999;
}

/* DESKTOP */
.desktop{
padding:20px;
height:90vh;
}

.icon{
width:90px;
text-align:center;
color:white;
cursor:grab;
position:absolute;
}

.icon i{
font-size:45px;
}

/* WINDOW */
.window{
position:absolute;
top:100px;
left:200px;
background:#c0c0c0;
border:2px solid black;
width:300px;
}

.title-bar{
background:#000080;
color:white;
padding:5px;
display:flex;
justify-content:space-between;
}

.hidden{
display:none;
}

/* TASKBAR */
.taskbar{
position:fixed;
bottom:0;
width:100%;
background:#c0c0c0;
display:flex;
justify-content:space-between;
padding:5px;
}

/* START MENU */
.start-menu{
position:fixed;
bottom:40px;
left:5px;
background:#c0c0c0;
padding:10px;
border:2px solid black;
}

.context-menu{
position:absolute;
background:#c0c0c0;
border:2px solid black;
padding:5px;
}
